.events-mainpage {
  position: relative;
  &::before {
    content: "";
    background-image: url("../../../public/assets/images/heroBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
  }
  .heading-container {
    display: flex;
    align-items: center;
    margin: 0vh 5vw;
    margin-bottom: 8vh;
    &:nth-child(1) {
      margin-bottom: 0;
    }
    .event-heading {
      color: white;
      font-size: 2.5rem;
      width: 15%;
    }
    .line {
      width: 85%;
      height: 2px;
      background-color: rgb(255, 255, 255);
    }
  }
}
