.team-container {
  min-height: 100vh;
  position: relative;
  &::before {
    content: "";
    background-image: url("../../public/assets/images/heroBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
  }
}
