footer {
  height: var(--footer-height);
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  span {
    color: var(--header-secondary);
    margin-bottom: 5px;
    font-weight: 600;
  }
  .link-texts {
    display: flex;
    justify-content: center;
    width: 40%;
    & > div {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0 5%;
      color: var(--header-color);
      a {
        text-decoration: none;
        margin: 2.5px 0;
      }
    }
  }
  .visual-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 12.5%;
    padding-right: 2.5%;
    .img-container {
      width: 70px;
      height: 70px;
      img {
        object-fit: contain;
      }
    }
    span {
      margin: 10% 0 20% 0;
    }
    .socials {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    background: conic-gradient(
      var(--gradient-primary),
      var(--gradient-primary),
      var(--gradient-secondary),
      var(--gradient-secondary),
      var(--gradient-tertiary),
      var(--gradient-tertiary)
    );
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.35;
  }
  &::after {
    content: "";
    position: absolute;
    height: 150%;
    bottom: 0;
    width: 100%;
    left: 0;
    backdrop-filter: blur(45px);
    z-index: -1;
  }
}
