* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}

body {
  background-color: black;
  padding-bottom: var(--footer-height);
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  &::before {
    content: "";
    background-image: url("../public/assets/images/heroBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
  }
  @media only screen and (max-width: 700px) {
    padding-bottom: 65vh;
  }
}

section {
  padding-top: calc(var(--header-height) + 2vh);
  margin-bottom: 4vh;
  width: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@mixin gradient-blur($size) {
  position: absolute;
  content: "";
  display: inline-block;
  height: $size;
  width: auto;
  aspect-ratio: 1;
  filter: blur(100px);
  border-radius: 44% 56% 38% 62% / 26% 54% 46% 74%;
  background: conic-gradient(
    var(--gradient-primary),
    var(--gradient-primary),
    var(--gradient-primary),
    var(--gradient-secondary),
    var(--gradient-secondary),
    var(--gradient-secondary),
    var(--gradient-tertiary),
    var(--gradient-tertiary)
  );
  opacity: 0.8;
}
