@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Mametosca";
  src: url("./fonts/header.otf");
}
:root {
  --header-color: #00ffae;
  --gradient-primary: #ff6b4c;
  --gradient-secondary: #c31266;
  --gradient-tertiary: #601269;

  --heading-font: "Mametosca", sans-serif;

  --header-height: 12vh;
  --footer-height: 30vh;
}
